* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(75, 224, 70);
    color: black;
    min-height: 100vh;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}